# Predict Fitbit Sleep Scores

For this project, various Machine Learning methods have been used to predict the FitBit Sleep Score based on a sample of roughly 10 months of collecting sleep score data. 
Hereby, the folllowing research question has been investigated: "How well can the sleep score be predicted, based on other sleep data, such as minutes spend in different sleep stages, or number of awakenings?"

The data has been provided by a FitBit user, female, 59 years old.

In [1]:
import json
import pandas as pd
import datetime
import glob
import matplotlib.pyplot as plt
import sklearn as sk
import math
from sklearn.linear_model import LinearRegression #remember, this is linear regression model from sk-learn
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import seaborn as sns
import numpy as np
import matplotlib.dates as md
from sklearn.model_selection import train_test_split

# Step 1: Investigang any data that might be relevant for further analysis

## Steps of Each Month
#### 03/2021

In [2]:
df_steps_march = pd.read_json(r'steps-2021-03-09.json')
#df_steps_march.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

In [3]:
df_steps_march.dateTime = df_steps_march.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = df_steps_march.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
df_steps_march = dfout[['dateTime', 'value']]
df_steps_march.columns = ['Date', 'Daily Steps']
df_steps_march.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

#### 04/2021

In [4]:
df_steps_april = pd.read_json (r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/steps-2021-04-08.json')
#df_steps_april.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_april.csv', index = None)

In [5]:
df_steps_april.dateTime = df_steps_april.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = df_steps_april.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
df_steps_april = dfout[['dateTime', 'value']]
df_steps_april.columns = ['Date', 'Daily Steps']
df_steps_april.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_april.csv', index = None)

#### 05/2021

In [6]:
df_steps_may = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/steps-2021-05-08.json')
#df_steps_may.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_may.csv', index = None)

In [7]:
df_steps_may.dateTime = df_steps_may.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = df_steps_may.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
df_steps_may = dfout[['dateTime', 'value']]
df_steps_may.columns = ['Date', 'Daily Steps']
df_steps_may.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_may.csv', index = None)

#### 06/2021

In [8]:
df_steps_june = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/steps-2021-06-07.json')
#df_steps_june.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_june.csv', index = None)

In [9]:
df_steps_june.dateTime = df_steps_june.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = df_steps_june.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
df_steps_june = dfout[['dateTime', 'value']]
df_steps_june.columns = ['Date', 'Daily Steps']
df_steps_june.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_june.csv', index = None)

#### 07/2021

In [10]:
df_steps_july = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/steps-2021-07-07.json')
#df_steps_july.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_july.csv', index = None)

In [11]:
df_steps_july.dateTime = df_steps_july.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = df_steps_july.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
df_steps_july = dfout[['dateTime', 'value']]
df_steps_july.columns = ['Date', 'Daily Steps']
df_steps_july.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_july.csv', index = None)

#### 08/2021

In [12]:
df_steps_august = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/steps-2021-08-06.json')
#df_steps_august.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_august.csv', index = None)

In [13]:
df_steps_august.dateTime = df_steps_august.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = df_steps_august.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
df_steps_august = dfout[['dateTime', 'value']]
df_steps_august.columns = ['Date', 'Daily Steps']
df_steps_august.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_august.csv', index = None)

#### 09/2021

In [14]:
df_steps_september = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/steps-2021-09-05.json')
#df_steps_september.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_september.csv', index = None)

In [1]:
df_steps_september.dateTime = df_steps_september.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = df_steps_september.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
df_steps_september = dfout[['dateTime', 'value']]
df_steps_september.columns = ['Date', 'Daily Steps']
df_steps_september.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_september.csv', index = None)

NameError: name 'df_steps_september' is not defined

#### 10/2021

In [16]:
df_steps_october = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/steps-2021-10-05.json')
#df_steps_october.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_october.csv', index = None)

In [17]:
df_steps_october.dateTime = df_steps_october.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = df_steps_october.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
df_steps_october = dfout[['dateTime', 'value']]
df_steps_october.columns = ['Date', 'Daily Steps']
df_steps_october.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_october.csv', index = None)

#### 11/2021

In [18]:
df_steps_november = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/steps-2021-11-04.json')
#df_steps_november.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_november.csv', index = None)

In [19]:
df_steps_november.dateTime = df_steps_november.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = df_steps_november.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
df_steps_november = dfout[['dateTime', 'value']]
df_steps_november.columns = ['Date', 'Daily Steps']
df_steps_november.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_november.csv', index = None)

#### 12/2021

In [20]:
df_steps_december = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/steps-2021-12-04.json')
#df_steps_december.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_december.csv', index = None)

In [21]:
df_steps_december.dateTime = df_steps_december.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = df_steps_december.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
df_steps_december = dfout[['dateTime', 'value']] 
df_steps_december.columns = ['Date', 'Daily Steps']
df_steps_december.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_december.csv', index = None)

### Put daily steps of each month into one dataframe

In [22]:
df_dailysteps = pd.concat([df_steps_march, df_steps_april, df_steps_may, df_steps_june, df_steps_july, df_steps_august, df_steps_september, df_steps_october, df_steps_november, df_steps_december],ignore_index=True)
df_dailysteps.head()
#df_dailysteps.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_dailysteps.csv', index = None)

         Date  Daily Steps
0  2021-03-10         3895
1  2021-03-11         4434
2  2021-03-12         5197
3  2021-03-13         2419
4  2021-03-14         7463

In [23]:
#df_dailysteps['Date'] = pd.to_datetime(df_dailysteps['Date'])
dfout = df_dailysteps.groupby(['Date']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
df_dailysteps = dfout[['Date', 'Daily Steps']] 
df_dailysteps.columns = ['Date', 'Daily Steps1']
df_dailysteps.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_dailysteps.csv', index = None)

### Sleep Score

In [24]:
sleep_score = pd.read_csv('sleep_score.csv')

In [25]:
sleep_score.timestamp = sleep_score.timestamp.astype(str).str.split('T').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
sleep_score.head()

,sleep_log_entry_id,timestamp,overall_score,composition_score,revitalization_score,duration_score,deep_sleep_in_minutes,resting_heart_rate,restlessness
0,35122114210,2022-01-01,76,19,14,43,74,73,0.080982
1,35111638325,2021-12-31,88,21,21,46,54,73,0.080948
2,35100484418,2021-12-30,83,21,19,43,47,71,0.069393
3,35086704240,2021-12-29,84,22,21,41,84,71,0.084785
4,35073003833,2021-12-28,83,20,23,40,29,71,0.052632

In [26]:
# sleep_score['timestamp'] = pd.to_datetime(sleep_score['timestamp'])
# sleep_score['timestamp'] = sleep_score['timestamp'].dt.strftime('%d/%m/%Y')
sleep_score = sleep_score.rename(columns={'timestamp':'Date'})
# sleep_score.head()

### Calories burned per day
#### March

In [29]:
calories_burned_march = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/calories-2021-03-09.json')

In [30]:
calories_burned_march.dateTime = calories_burned_march.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = calories_burned_march.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
calories_burned_march = dfout[['dateTime', 'value']]
calories_burned_march.columns = ['Date', 'Calories burned']
calories_burned_march.head()
#calories_burned.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

         Date  Calories burned
0  2021-03-09          1526.40
1  2021-03-10          2121.40
2  2021-03-11          2316.61
3  2021-03-12          2590.46
4  2021-03-13          1918.43

### Calories burned per day
#### April

In [31]:
calories_burned_april = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/calories-2021-04-08.json')

In [32]:
calories_burned_april.dateTime = calories_burned_april.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = calories_burned_april.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
calories_burned_april = dfout[['dateTime', 'value']]
calories_burned_april.columns = ['Date', 'Calories burned']
calories_burned_april.head()
#calories_burned.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

         Date  Calories burned
0  2021-04-08          2355.77
1  2021-04-09          2604.83
2  2021-04-10          2383.30
3  2021-04-11          2101.95
4  2021-04-12          2309.13

### Calories burned per day
#### May

In [33]:
calories_burned_may = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/calories-2021-05-08.json')

In [34]:
calories_burned_may.dateTime = calories_burned_may.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = calories_burned_may.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
calories_burned_may = dfout[['dateTime', 'value']]
calories_burned_may.columns = ['Date', 'Calories burned']
calories_burned_may.head()
#calories_burned.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

         Date  Calories burned
0  2021-05-08          2468.45
1  2021-05-09          3036.48
2  2021-05-10          2046.11
3  2021-05-11          2121.29
4  2021-05-12          2588.99

### Calories burned per day
#### June

In [35]:
calories_burned_june = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/calories-2021-06-07.json')

In [36]:
calories_burned_june.dateTime = calories_burned_june.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = calories_burned_june.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
calories_burned_june = dfout[['dateTime', 'value']]
calories_burned_june.columns = ['Date', 'Calories burned']
calories_burned_june.head()
#calories_burned.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

         Date  Calories burned
0  2021-06-07          2784.55
1  2021-06-08          2449.74
2  2021-06-09          2882.33
3  2021-06-10          2821.74
4  2021-06-11          3200.17

### Calories burned per day
#### July

In [37]:
calories_burned_july = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/calories-2021-07-07.json')

In [38]:
calories_burned_july.dateTime = calories_burned_july.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = calories_burned_july.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
calories_burned_july = dfout[['dateTime', 'value']]
calories_burned_july.columns = ['Date', 'Calories burned']
calories_burned_july.head()
#calories_burned.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

         Date  Calories burned
0  2021-07-07          2137.45
1  2021-07-08          2512.94
2  2021-07-09          2206.08
3  2021-07-10          2211.01
4  2021-07-11          2340.52

### Calories burned per day
#### August

In [39]:
calories_burned_august = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/calories-2021-08-06.json')

In [40]:
calories_burned_august.dateTime = calories_burned_august.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = calories_burned_august.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
calories_burned_august = dfout[['dateTime', 'value']]
calories_burned_august.columns = ['Date', 'Calories burned']
calories_burned_august.head()
#calories_burned.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

         Date  Calories burned
0  2021-08-06          2492.11
1  2021-08-07          2621.15
2  2021-08-08          2642.81
3  2021-08-09          2662.85
4  2021-08-10          2061.37

### Calories burned per day
#### September

In [41]:
calories_burned_september = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/calories-2021-09-05.json')

In [42]:
calories_burned_september.dateTime = calories_burned_september.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = calories_burned_september.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
calories_burned_september = dfout[['dateTime', 'value']]
calories_burned_september.columns = ['Date', 'Calories burned']
calories_burned_september.head()
#calories_burned.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

         Date  Calories burned
0  2021-09-05          3559.29
1  2021-09-06          2263.38
2  2021-09-07          2601.11
3  2021-09-08          2573.36
4  2021-09-09          2906.21

### Calories burned per day
#### October

In [43]:
calories_burned_october = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/calories-2021-10-05.json')

In [44]:
calories_burned_october.dateTime = calories_burned_october.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = calories_burned_october.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
calories_burned_october = dfout[['dateTime', 'value']]
calories_burned_october.columns = ['Date', 'Calories burned']
calories_burned_october.head()
#calories_burned.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

         Date  Calories burned
0  2021-10-05          2081.13
1  2021-10-06          2207.65
2  2021-10-07          2245.06
3  2021-10-08          2928.26
4  2021-10-09          2170.54

### Calories burned per day
#### November

In [45]:
calories_burned_november = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/calories-2021-11-04.json')

In [46]:
calories_burned_november.dateTime = calories_burned_november.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = calories_burned_november.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
calories_burned_november = dfout[['dateTime', 'value']]
calories_burned_november.columns = ['Date', 'Calories burned']
calories_burned_november.head()
#calories_burned.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

         Date  Calories burned
0  2021-11-04          2001.79
1  2021-11-05          2155.95
2  2021-11-06          2005.44
3  2021-11-07          1998.34
4  2021-11-08          2434.43

### Calories burned per day
#### December

In [47]:
calories_burned_december = pd.read_json(r'C:\Users\leaba\Documents\MyFitbitData\MathildeMeyer-Baudner\Physical Activity/calories-2021-12-04.json')

In [48]:
calories_burned_december.dateTime = calories_burned_december.dateTime.astype(str).str.split(' ').str[0]  #split the created_at column at the space between the date and time. The .str[0] means it will only keep the first part of the split (which is the date).
dfout = calories_burned_december.groupby(['dateTime']).sum() #The second line groups them by date and gives you the count.
dfout.reset_index(level=0, inplace=True)
calories_burned_december = dfout[['dateTime', 'value']]
calories_burned_december.columns = ['Date', 'Calories burned']
calories_burned_december.head()
#calories_burned.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_steps_march.csv', index = None)

         Date  Calories burned
0  2021-12-04          2126.47
1  2021-12-05          2200.46
2  2021-12-06          3244.34
3  2021-12-07          2178.85
4  2021-12-08          2045.16

In [49]:
df_caloriesburned = pd.concat([calories_burned_march, calories_burned_april, calories_burned_may, calories_burned_june, calories_burned_july, calories_burned_august, calories_burned_september, calories_burned_october, calories_burned_november, calories_burned_december],ignore_index=True)
#df_caloriesburned.head()
df_caloriesburned.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\df_caloriesburned.csv', index = None)

### Putting different dataframes together (sleep_score, daily steps together & calories) on the date.

In [50]:
final = pd.merge(df_dailysteps, sleep_score, on = 'Date', how='left').fillna(0) #column of Date is the common identifier
finaldf = pd.merge(final, frame, on = 'Date', how='left').fillna(0) #column of Date is the common identifier
#finaldff = pd.merge(finaldf, calories_burned, on = 'Date', how='left').fillna(0) #column of Date is the common identifier
finaldfff = pd.merge(finaldf, df_caloriesburned, on = 'Date', how='left').fillna(0) 
#finaldfff.head()

In [51]:
df_sleep = pd.read_csv(r'C:\Users\leaba\Documents\MyFitbitData/df_sleep.csv')
df_sleep.info()
finaldffff = pd.merge(finaldfff, df_sleep, on = 'Date', how='left').fillna(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 22 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      269 non-null    object
 1   startTime                                 269 non-null    object
 2   endTime                                   269 non-null    object
 3   duration                                  269 non-null    int64
 4   minutesToFallAsleep                       269 non-null    int64
 5   minutesAsleep                             269 non-null    int64
 6   minutesAwake                              269 non-null    int64
 7   minutesAfterWakeup                        269 non-null    int64
 8   timeInBed                                 269 non-null    int64
 9   efficiency                                269 non-null    int64
 10  levels.summary.deep.count                 259 non-null    float64
 11  levels.summary.deep.minutes               259 non-null    float64
 12  levels.summary.deep.thirtyDayAvgMinutes   259 non-null    float64
 13  levels.summary.wake.count                 259 non-null    float64
 14  levels.summary.wake.minutes               259 non-null    float64
 15  levels.summary.wake.thirtyDayAvgMinutes   259 non-null    float64
 16  levels.summary.light.count                259 non-null    float64
 17  levels.summary.light.minutes              259 non-null    float64
 18  levels.summary.light.thirtyDayAvgMinutes  259 non-null    float64
 19  levels.summary.rem.count                  259 non-null    float64
 20  levels.summary.rem.minutes                259 non-null    float64
 21  levels.summary.rem.thirtyDayAvgMinutes    259 non-null    float64
dtypes: float64(12), int64(7), object(3)
memory usage: 46.4+ KB

In [52]:
analysis = finaldffff.rename(columns={'Daily Steps1':'Daily Steps'})
#analysis = analysis.replace(0, np.nan, inplace=True)
#analysis = analysis.replace({0:pd.NA})

In [53]:
analysis = analysis.drop('sleep_log_entry_id', 1) #where 1 is the axis number (0 for rows and 1 for columns.)

#analysis.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\analysis.csv', index = None)

In [54]:
analysis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 322 entries, 0 to 321
Data columns (total 34 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      322 non-null    object
 1   Daily Steps                               322 non-null    int64
 2   overall_score                             322 non-null    float64
 3   composition_score                         322 non-null    float64
 4   revitalization_score                      322 non-null    float64
 5   duration_score                            322 non-null    float64
 6   deep_sleep_in_minutes                     322 non-null    float64
 7   resting_heart_rate                        322 non-null    float64
 8   restlessness                              322 non-null    float64
 9   rmssd                                     322 non-null    float64
 10  nremhr                                    322 non-null    float64
 11  entropy                                   322 non-null    float64
 12  Calories burned                           322 non-null    float64
 13  startTime                                 322 non-null    object
 14  endTime                                   322 non-null    object
 15  duration                                  322 non-null    float64
 16  minutesToFallAsleep                       322 non-null    float64
 17  minutesAsleep                             322 non-null    float64
 18  minutesAwake                              322 non-null    float64
 19  minutesAfterWakeup                        322 non-null    float64
 20  timeInBed                                 322 non-null    float64
 21  efficiency                                322 non-null    float64
 22  levels.summary.deep.count                 322 non-null    float64
 23  levels.summary.deep.minutes               322 non-null    float64
 24  levels.summary.deep.thirtyDayAvgMinutes   322 non-null    float64
 25  levels.summary.wake.count                 322 non-null    float64
 26  levels.summary.wake.minutes               322 non-null    float64
 27  levels.summary.wake.thirtyDayAvgMinutes   322 non-null    float64
 28  levels.summary.light.count                322 non-null    float64
 29  levels.summary.light.minutes              322 non-null    float64
 30  levels.summary.light.thirtyDayAvgMinutes  322 non-null    float64
 31  levels.summary.rem.count                  322 non-null    float64
 32  levels.summary.rem.minutes                322 non-null    float64
 33  levels.summary.rem.thirtyDayAvgMinutes    322 non-null    float64
dtypes: float64(30), int64(1), object(3)
memory usage: 88.0+ KB

In the beginning, the user did not wear the FitBit watch regularly - meaning that no data has been collected. Since these "missed" days only sum up to roughly 30 days, I decided to fill the missing data with the mean of the corresponding column.

In [55]:
analysis['overall_score'] = analysis['overall_score'].replace(0,analysis['overall_score'].mean())
analysis['composition_score'] = analysis['composition_score'].replace(0,analysis['composition_score'].mean())
analysis['revitalization_score'] = analysis['revitalization_score'].replace(0,analysis['revitalization_score'].mean())
analysis['duration_score'] = analysis['duration_score'].replace(0,analysis['duration_score'].mean())
analysis['deep_sleep_in_minutes'] = analysis['deep_sleep_in_minutes'].replace(0,analysis['deep_sleep_in_minutes'].mean())
analysis['resting_heart_rate'] = analysis['resting_heart_rate'].replace(0,analysis['resting_heart_rate'].mean())
analysis['duration'] = analysis['duration'].replace(0,analysis['duration'].mean())
analysis['minutesAsleep'] = analysis['minutesAsleep'].replace(0,analysis['minutesAsleep'].mean())
analysis['minutesAwake'] = analysis['minutesAwake'].replace(0,analysis['minutesAwake'].mean())
analysis['timeInBed'] = analysis['timeInBed'].replace(0,analysis['timeInBed'].mean())
analysis['efficiency'] = analysis['efficiency'].replace(0,analysis['efficiency'].mean())
analysis['levels.summary.deep.count'] = analysis['levels.summary.deep.count'].replace(0,analysis['levels.summary.deep.count'].mean())
analysis['levels.summary.deep.minutes'] = analysis['levels.summary.deep.minutes'].replace(0,analysis['levels.summary.deep.minutes'].mean())
analysis['levels.summary.wake.count'] = analysis['levels.summary.wake.count'].replace(0,analysis['levels.summary.wake.count'].mean())
analysis['levels.summary.wake.minutes'] = analysis['levels.summary.wake.minutes'].replace(0,analysis['levels.summary.wake.minutes'].mean())
analysis['levels.summary.light.count'] = analysis['levels.summary.light.count'].replace(0,analysis['levels.summary.light.count'].mean())
analysis['levels.summary.light.minutes'] = analysis['levels.summary.light.minutes'].replace(0,analysis['levels.summary.light.minutes'].mean())
analysis['levels.summary.rem.count'] = analysis['levels.summary.rem.count'].replace(0,analysis['levels.summary.rem.count'].mean())
analysis['levels.summary.rem.minutes'] = analysis['levels.summary.rem.minutes'].replace(0,analysis['levels.summary.rem.minutes'].mean())

In [58]:
# drop all unnecessary columns
analysis.drop(analysis.columns[[1,3,4,5,6,8,9,10,11,12,14,16,19,22,24,25,27,28,30,31,33]], axis = 1, inplace = True)

In [59]:
analysis.head()

,Date,overall_score,resting_heart_rate,startTime,duration,minutesAsleep,minutesAwake,timeInBed,efficiency,levels.summary.deep.minutes,levels.summary.wake.minutes,levels.summary.light.minutes,levels.summary.rem.minutes
0,2021-03-10,70.5,58.310559,0,2.238950e+07,330.242236,42.891304,373.158385,79.273292,51.770186,42.732919,203.596273,71.798137
1,2021-03-11,70.5,58.310559,0,2.238950e+07,330.242236,42.891304,373.158385,79.273292,51.770186,42.732919,203.596273,71.798137
2,2021-03-12,70.5,58.310559,0,2.238950e+07,330.242236,42.891304,373.158385,79.273292,51.770186,42.732919,203.596273,71.798137
3,2021-03-13,70.5,58.310559,0,2.238950e+07,330.242236,42.891304,373.158385,79.273292,51.770186,42.732919,203.596273,71.798137
4,2021-03-14,70.5,58.310559,0,2.238950e+07,330.242236,42.891304,373.158385,79.273292,51.770186,42.732919,203.596273,71.798137

In [60]:
analysis.to_csv(r'C:\Users\leaba\Documents\MyFitbitData\analysis.csv', index = None)